/* Fonts */

@font-face {
    font-family: 'alexbrush';
    src: url('alexbrush-regular.woff2?#iefix') format('woff2'),
         url('alexbrush-regular.woff') format('woff'),
         url('alexbrush-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}