/* Fonts */

@font-face {
    font-family: 'montserrat';
    src: url('montserrat-regular.woff2?#iefix') format('woff2'),
         url('montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
