/* Fonts */

@font-face {
    font-family: 'opensans';
    src: url('opensans-italic.woff2?#iefix') format('woff2'),
         url('opensans-italic.woff') format('woff'),
         url('opensans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}