/* Fonts */

@font-face {
    font-family: 'lato';
    src: url('lato-italic.woff2?#iefix') format('woff2'),
         url('lato-italic.woff') format('woff'),
         url('lato-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}