/* Fonts */

@font-face {
    font-family: 'merriweather';
    src: url('merriweather-regular.woff2?#iefix') format('woff2'),
         url('merriweather-regular.woff') format('woff'),
         url('merriweather-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}