/* Fonts */

@font-face {
    font-family: 'montserrat';
    src: url('montserrat-bold.woff2?#iefix') format('woff2'),
         url('montserrat-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
