/* Fonts */

@font-face {
    font-family: 'leaguegothic';
    src: url('leaguegothic-regular.woff2?#iefix') format('woff2'),
         url('leaguegothic-regular.woff') format('woff'),
         url('leaguegothic-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}