/* Fonts */

@font-face {
    font-family: 'hack';
    src: url('hack-italic.woff2?#iefix') format('woff2'),
         url('hack-italic.woff') format('woff'),
         url('hack-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
