/* Fonts */

@font-face {
    font-family: 'calendas';
    src: url('calendas.woff2?#iefix') format('woff2'),
         url('calendas.woff') format('woff'),
         url('calendas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}